.div1{
    background-color: aquamarine;
    
}
.div4{
background-color: aqua;
float: left;
}

.div5{

background-color: azure;
float: right;
}
.div6{
float: left;
background-color: blueviolet;
}
.clear{
    clear: both;
}
/*
الفلوت عشان نخلي العناصر جنب بعض من دون سبيسات وكمان بتحككم بنقل الديف يمين او يسار 
دايما اذا بدي اجيب عناصر جنب بعض بغض النظر عن الطريقة بنعمل width 
*/
/*
مشكلة ال 
float
انو بجيب العناصر جنب بعض  بس ازا كانت في مساحة فاضيه وقتها بجيب العناصر التانيه بهاي المساحة 
أذا كان ال
width 
للابناء اقل من مية يالمية بروح يجيب العناصر يلي بعدو جنبو 
كمان بطلع العناصر يلي انا اعملتلها فلوت من عند الاب 
فبقل ارتفاع الاب 
ليش ؟ لانو لما اعمل فلوت بعمل الفلوت منطقة خاصة فيه وبجيب 
عليها العناصر من الاب لما اطلعهم من الاب هاي العناصر بقل ارتفاعو للاب 
الارتفاع القيمه الافتراضية اله حسب المحتوى 
*/

